extends layout.pug
block content
    include body/tweet.pug
    include body/header.pug
    .bounds.app--body
      include body/columns.pug
      include body/timeline.pug
      include body/friends.pug
      include body/messages.pug
        include scripts.pug
        
