.grid-33
      .app--section
        ul.app--message--list
          if recievedMessage
            each rmessage in recievedMessage
              li
                h3
                  | Conversation with
                  a  #{rmessage.sender.name}
                ul.app--message--conversation
                  li.app--message
                    .app--avatar(style='background-image: url(images/f-spore.png)')
                      img(src='images/f-spore.png')
                    p.app--message--text= rmessage.text
                    p.app--message--timestamp 3 hours ago
                     if messages
                       each message in messages
                        li.app--message--me
                          .app--avatar(style='background-image: url(images/m-spore.png)')
                            img(src='images/m-spore.png')
                          p.app--message--text
                            | #{message.text}
